@import '../../colors.scss';

.articleContainer{
	padding: 15px;
	border-bottom: 1px solid $lightGrey;
}

.titleContainer{

}

.articleTitle{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.contentContainer{

}

.articleContnet{
	font-size: 14px;
}