@import '../../colors.scss';

.navbar{
	display: flex;
	justify-content:center;
	height: pxToRem(51px);
	box-shadow: 0 0 pxToRem(4px) $grey;
	ul{
		display: flex;
		flex-grow:1;
	}
	li{
		display: flex;
		justify-content:center;
		align-items:center;
		background: $white;
		flex-grow:1;
		// margin-bottom: -2px;
		// border-bottom: 2px solid transparent;
		a{
			display: flex;
			height: 100%;
			justify-content:center;
			align-items:center;
			position: relative;
			flex-grow:1;
		}
		a.active{
			color:$mainBlue;
			&:after{
				content: '';
			    background-color: $mainBlue;
			    height: pxToRem(2px);
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    right: 0;
			}
			svg{
				fill:$mainBlue;
			}
		}
	}
}
