$mainBlue:#1da1f2;
$white:#fff;
$deepWhite:#F5F8FA;
$black:#14171a;
$grey:#657786;
$lightGrey:#ccd6dd;
$lightYellow:#fff4c1;

$default-font-size: 20px;

@function pxToRem($px){
	@return $px / $default-font-size * 1rem
}